.App {
  text-align: center;
  margin: 30px;
}
/* Used by default with NavLink */
.active {
  color: lightyellow;
  text-decoration: none;
}
.activeLink {
  color: lightyellow;
  text-decoration: none;
}
a {
  color: lightblue;
  font-size: 35px;
}
nav {
  padding: 5px;
  background-color: darkslategray;
}
nav a {
  margin: 15px;
}
h1 {
  font-size: 90px;
}
button {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 7px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s;
}
button:hover {
  transform: scale(0.97);
  box-shadow: 3px 3px 3px #999;
}
button:active {
  transform: scale(0.9);
  box-shadow: 3px 3px 3px red;
}
.courseLink {
  font-size: 25px;
  text-decoration: none;
}
.courseLink:hover {
  text-decoration: underline;
}
